* {
    box-sizing: border-box;
}

body {
    font-family: 'Graphik LCG';
    font-family: 'Roboto', sans-serif;
    background: #F9FBFF;
}

html.hidden,
html.hidden>body {
    overflow: hidden;
}

body,
html {
    overflow-x: hidden;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

// figma file container width
@media (min-width: 1365px) {
    .container {
        max-width: 1200px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1625px;
    }
}

// site styles